:root {
	--main-color:  rgba(45, 45, 45, 1);
	--dark-color:  rgba(45, 45, 45, 0.8);
	--medium-color:  rgba(45, 45, 45, 0.7);
	--light-color: rgba(45, 45, 45, 0.5);
	--fade-color: rgba(254, 254, 254, 0.5);
	--pink-color: rgba(255, 98, 80, 1);
	--green-color: rgba(0, 147, 121, 1);
	--blue-color: rgba(111, 191, 249, 1);
	--footer-text-color: rgba(255, 255, 255, 0.5);

}