.academics-tabs {
    margin-bottom: 50px;


}

.tabs-wrapper {
    position: relative;
}

.tabs__items {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: absolute;
    top: -50px;
}

.tabs__item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-color);
    font-weight: 570;
    font-size: 20px;
    line-height: 27px;
    transition: .5s;

}

.tabs__item:hover {
    color: var(--dark-color);
}

.tabs__body {}

.tabs__block {
    padding: 20px;
    display: none;
    position: relative;
}

.tabs__block:nth-child(1) {
    border-top: 2px solid var(--light-color);

}

.tabs__block:nth-child(2) {
    background-color: var(--blue-color);
    border-top: 2px solid var(--light-color);
    border-radius: 0px 0px 12px 12px;

}

.tabs__block:nth-child(3) {
    background-color: var(--green-color);
    border-top: 2px solid var(--light-color);
    border-radius: 0px 0px 12px 12px;
}

.tabs__block:target {
    display: block;
}

.tabs__block::before {
    content: "";
    height: 3px;
    width: calc(50% / 3);
    border-radius: 5px;
    position: absolute;
    top: -5px;
    background: var(--dark-color);
}

.tabs__block:nth-child(1)::before {
    left: 0;
}

.tabs__block:nth-child(2)::before {
    left: 17%;
}

.tabs__block:nth-child(3)::before {
    left: 37%;
}

.tabs__block-education {
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.tabs__block-education h3 {
    font-weight: 700;
    padding-left: 33px;
}

.tabs__block-education div {
    display: flex;
    align-items: center;
}