.location__wrapper{
    height: 300px;
    display: flex;
    margin-bottom: 60px;
    gap: 2vw;
}

.location__text-block {
    flex: 0 1 69%;
}

.location__questions-block{
    flex: 0 1 31%;
    margin-top: 39px;
}

.location__text-block-title {
    margin-bottom: 11px;
    margin-top: 39px;

}

.location__text {
    padding-bottom: 15px;
}

.location__questions-item {
    padding: 7px 7px 7px 20px;
}

