.application__wrapper {
    height: 509px;
    display: flex;
    gap: 1.7vw;
    margin-top: 118px;
    margin-bottom: 95px;
}

.application__container {
    width: 332px;
}

.application__container-text>h2 {
    line-height: 42px;
    padding-top: 13px;
    padding-bottom: 47px;
}

.application__content {
    flex: 0 1 50%;
}

.application__logo {
    margin-top: -50px;
}

.application__form {
    flex: 0 1 50%;

}

.application__form-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.form-part {
    position: relative;
}

.application__form-field {
    background-color: rgba(223, 223, 223, 1);
    line-height: 27px;
    padding: 24px 31px 19px 33px;
    color: rgba(45, 45, 45, 0.5);
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    transition: .5s;
}

.form-part span {
    position: absolute;
    left: 0;
    padding: 24px 31px 19px 33px;
    color: rgba(45, 45, 45, 0.5);
    pointer-events: none;
    transition: .5s;

}

.application__form-field:valid~span,
.application__form-field:focus~span {
    color: var(--green-color);
    transform: translate(10px, -9px);
    font-size: .8em;
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid var(--green-color);
    border-right: 1px solid var(--green-color);
    letter-spacing: 0.2em;
}

.application__form-field:valid,
.application__form-field:focus {
    border: 1px solid var(--green-color);
}


.application__form-container textarea {
    height: 196px;
}

.application__form-button {
    width: 235px;
    height: 80px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    position: relative;
    transition: .8s;
    overflow: hidden;
}

.application__form-button:focus {
    outline: 0;
}

.application__form-button::before {
    content: '';
    display: block;
    position: absolute;
    background: var(--footer-text-color);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

.application__form-button::after {
    content: '';
    display: block;
    position: absolute;
    background: var(--footer-text-color);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}


.application__form-button:hover {
    background: var(--green-color);
    cursor: pointer;
}

.application__form-button:hover::before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: .9s;
}

.application__form-button:hover::after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .9s;
}


/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
@media screen and (max-width: 1099.98px) {
    .application__wrapper {
        margin-top: 95px;
    }
}

@media screen and (max-width: 991.98px) {
    .application__wrapper {
        margin-top: 85px;
    }

}

@media screen and (max-width: 871.98px) {
    .application__wrapper {
        margin-top: 70px;
    }

}


@media screen and (max-width: 767.98px) {
    .application__wrapper {
        height: auto;
        margin-top: 15px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .application__container {
        width: auto;
        display: flex;
        gap: 3vw;
    }

    .application__container-text {
        flex: 0 1 50%;
    }

}

@media screen and (max-width: 575.98px) {
    .application__container {
        flex-direction: column;
    }

    .application__container-text>h2 {
        padding-top: 10px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 444.98px) {
    .application__logo {
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 319.98px) {
    .application__logo {
        width: 80%;
        height: 80%;
    }
}