.facultyes__container {
    max-width: 1040px;
    height: 403px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.facultyes__container--home-page {
    margin-top: 120px;
}

.facultyes__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.facultyes__item-link {
    position: relative;
}

.facultyes__item>h3 {
    margin-top: 61px;
    margin-bottom: 15px;
}

.facultyes__arrow-design {
    position: absolute;
    top: 40px;
    right: 40px;
}

.facultyes__arrow-history {
    position: absolute;
    top: 9px;
    right: 9px;
}

.facultyes__arrow-art {
    position: absolute;
    top: 70px;
    right: 84px;
}


.facultyes__item:hover .facultyes__design {

    box-shadow: 0 0 0 6px var(--blue-color);
    transform: scale(125%);
    transition: .6s;
}



/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 991.98px) {
    .facultyes__container {
        max-width: 900px;
        height: auto;
    }

    .facultyes__container--home-page {
        margin-top: 60px;
    }
}

@media screen and (max-width: 881.98px) {
    .facultyes__item {
        height: auto;
    }

    .facultyes__container--home-page {
        margin-top: 30px;
        gap: 3vw;
    }

    .facultyes__item>h3 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767.98px) {
    .facultyes__container {
        max-width: 680px;
    }
}

@media screen and (max-width: 575.98px) {
    .facultyes__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}