.presentation {
	height: 750px;
	display: flex;
	justify-content: space-between;

}

.presentation__text {
	flex: 0 1 50%;
}

.presentation__view {
	flex: 0 1 50%;
	position: relative;
	min-width: 0;
}


.view {
	display: flex;
	justify-content: flex-end;

}

.view__prew {
	padding-top: 50px;
	max-width: 100%;

}



.presentation__button-block {
	position: absolute;
	bottom: 180px;
	left: 60px;
	width: 137px;
	height: 142px;
	background: url(../../images/element-green.svg);
	z-index: 2;
	cursor: pointer;

}

.button-block__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-transform: lowercase;
	color: var(--fade-color);
	padding-top: 70px;
	text-align: center;
}



.presentation__element-orange {
	position: absolute;
	top: 37px;
	right: -25px;
	z-index: 2;


}


.presentation__element-arrow {
	position: absolute;
	top: 77px;
	left: 140px;
	z-index: 2;
}

.presentation__text-titles {
	margin-top: 90px;

}

.presentation__text-titles>h1 {
	margin-top: 35px;
	margin-bottom: 41px;
	line-height: 1.02;
}

.presentation__text-titles>h5 {
	line-height: 1.33;
	margin-bottom: 55px;
}



.presentation__text-link {
	display: block;
	width: 72px;
	color: var(--light-color);
	position: relative;

}

.presentation__text-link::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background-color: var(--blue-color);
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s ease-in-out;
}

.presentation__text-link:hover::after {
	background-color: var(--light-color);
	transform-origin: left;
	transform: scaleX(1);
}

.video-modal {
	width: 760px;
	height: 515px;
	box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
	background-color: var(--green-color);
	border-radius: 12px;
	position: fixed;
	transition: all 0.8s ease-in-out 0s;
	opacity: 0;
	transform: perspective(800px) translate(50%, -50%) rotateX(45deg);
	visibility: hidden;
}

.video-modal--active {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: perspective(800px) translate(-50%, -50%) rotateX(0deg);
	z-index: 110;
	opacity: 1;
	visibility: visible;
}

.video-modal__item {
	padding: 4vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 111;
	width: 100%;
	height: 100%;
}

/* ---------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
@media screen and (max-width: 1099.98px) {

	.presentation {
		height: auto;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	.presentation__element-arrow {
		transform: translate(-55px, 0px);
	}

	.presentation__element-orange {
		transform: translate(0px, 0px);
	}

	.presentation__button-block {
		transform: translate(-40px, 145px);
	}


}


@media screen and (max-width: 991.98px) {

	.presentation__text-titles {
		margin-top: 40px;

	}

	.view__prew {
		padding-top: 10px;
		max-width: 80%;

	}

	.presentation__element-arrow {
		transform: translate(-8px, -50px);
	}

	.presentation__element-orange {
		transform: translate(6px, -40px);
	}

	.presentation__button-block {
		transform: translate(0px, 155px);
	}
}


@media screen and (max-width: 881.98px) {
	.presentation__element-arrow {
		transform: translate(-14px, -70px);
	}

	.presentation__element-orange {
		transform: translate(6px, -57px);
	}

	.presentation__button-block {
		transform: translate(-5px, 137px);
	}

}


@media screen and (max-width: 767.98px) {
	.presentation {
		flex-direction: column;
		height: auto;
		justify-content: center;

	}

	.view {
		justify-content: center;
	}

	.presentation__element-arrow {
		transform: translate(13px, -40px);
	}

	.presentation__element-orange {
		top: 55px;
		right: 84px;
	}

	.presentation__button-block {
		transform: translate(15px, 139px);
	}

	.video-modal{
		width: 80%;
	}

}


@media screen and (max-width: 575.98px) {
	.presentation__element-arrow {
		transform: translate(-65px, -58px);
	}

	.presentation__element-orange {
		top: 36px;
		right: 14px;
	}

	.presentation__button-block {
		transform: translate(-66px, 152px);
	}

}

@media screen and (max-width: 444.98px) {
	.presentation__element-orange {
		top: 24px;
		right: -5px;
	}

	.presentation__button-block {
		transform: translate(-64px, 181px);
	}
}

@media screen and (max-width: 319.98px) {}