.swiper-button-next:after {
    content: url(../../images/arrow-next.svg);
    position: absolute;
    bottom: -254px;

}

.swiper-pagination-bullet {
    background-color: #fff;
    border: 7px double var(--main-color);
    transform: translate(120px, -85px);
    margin: 0 9px !important;

}

/* -------second slider--------- */

.swiper-2 {
    height: 900px;
    max-width: 1082px;
    margin: 0 auto;
    overflow: hidden;
}

.art-news__slide {
    width: 330px;
    height: 418px;
}



.swiper-pagination-fraction {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
    transform: translate(950px, -95px);
}

.swiper-slider__fraction{
    display: flex;
}