.sponsors {
    max-width: 1078px;
    height: 47px;
    margin: 0 auto;

}

.sponsors__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sponsors__item:hover .sponsors__image{
    transform: rotate(360deg);
    transition: .5s;

}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 991.98px){

}


@media screen and (max-width: 767.98px) {


}

@media screen and (max-width: 575.98px){

}

@media screen and (max-width: 444.98px){

}

@media screen and (max-width: 319.98px) {
	
}